.firsth1{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;

}

.secondh1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 15px;
}

.col{
    text-align: center;
    list-style-type: disc !important;
    padding-left: 1em !important;
    margin-left: 1em;
}

li {
    list-style-position: inside;
    }


img {
    display: block;
    max-width: 50%;
    max-height: 300px;
    border-radius: 1000px;
    margin: 200px;
  }

  body{
      background-color: bisque;
      margin: 0px
  }
